<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <pre>
  <%= @post.content %>
  </pre>
  <%= link_to ':<',new_post_comment_path(@post) %>
</p>

<p>
  <pre>
  <b>Comments:</b>
  
  <% for commentObj in @post.comments do %>
	<% if (commentObj.pc_id == nil ) %>
		<%= display_comments(commentObj) %>
	<% end %>
  <% end %>
  </pre>
<p> 
  
<!-- %= link_to 'Edit', edit_post_path(@post.weblog,@post) %>
<%= link_to 'Back', posts_path(@post.weblog) % -->
